.paragraph {
  grid-area: paragraph;
}

.answer-field {
  grid-area: answer;
}

.in {
  grid-area: in;
}

.btn {
  grid-area: btn;
  justify-content: center;
}

.clue-body {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
  'paragraph paragraph paragraph paragraph paragraph widget'
  'paragraph paragraph paragraph paragraph paragraph widget'
  'paragraph paragraph paragraph paragraph paragraph widget'
  'answer answer answer answer answer widget'
  'answer answer answer answer answer widget'
  'answer answer answer answer answer widget'
  'answer answer answer answer answer widget'
}

.letters {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
}

.letters > div {
  border: 1px solid black;
  border-radius: 10px;
}

.letters-wrapper {
  margin: 2rem;
  padding: 2rem;
}
