:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --oakdaleGreen: #6D863F;
  --oakdaleBlue: #47728B;
}

.App-wrapper {
  background-color: var(--oakdaleGreen);
  margin: 30px 50px;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  display: grid;
  grid-area: App;
}

.App-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  margin: 0px;
  grid-template-areas:
  '. App App App App App App App .'
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background:none;
  color:inherit;
  border:none;
  padding:0;
  font: inherit;
  outline:0;
  border-bottom:1px solid #444; 
  cursor: pointer;
}

body {
  background: url('../../images/wetland.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

button {
  cursor: pointer;
}
button:hover {
  box-shadow: 4px 4px 4px 2px black;
}

hr {
  border-color: #96E072;
}
