.card {
  background-color: #ddd;
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'grid-title grid-title grid-title'
    '. grid-list grid-list';
}

.grid-title {
  grid-area: grid-title;
}

.grid-list {
  grid-area: grid-list;
}

.grid-list > li {
  grid-area: tech;
  text-align: left;
}
